.Rproj.user
.Rhistory
.RData
.Ruserdata
.vdoc*
*.Rproj
data/qcew_raw/zip
data/qcew_raw/csv
*.duckdb
data/total_estimated_jobs.csv
data/check_qcew.xlsx
data/qcew_raw/lmi
data/inputs/qcew_micro.csv
data/inputs/census_of_ag
data/archive